* {
    margin: 5px;
    border-radius: 5px;
}
.contain {
    display: flex;
    height : 100vh;
}
.calist {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: aqua;
}
.todo {
    flex: 2;
    background-color: blueviolet;
}
.calender {
    flex: 1;
    background-color: rgb(80, 74, 56);
}

.anything {
    flex: 3;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.4fr 1fr 1fr 1fr ;
    background-color: rgb(39, 29, 29);
}
.status {
    grid-area: 1 / 1 / 2 / 5 ;
    background-color: rgb(255, 255, 255);  
    
}