body {
    background-color: #101015;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: none;
    padding: none;
    height: 100%;
    width: 100%;
}
* {
    margin: 5px;
    
}
.welcome {
    display: inline-block;
    flex: 1;
    text-align: right;
    float: right;
}
.caldates {
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    gap: -10px;
    width: min-content;
    background-color: #313136;
    margin-left: 12%;
    border-radius: 10px;
    color: aliceblue;
}

.weekend {
    color: rgb(247, 67, 67);
}
.image  {
    flex: 0.03;
    float: right;
    background-image: url("pfp.jpg");
    border-radius: 50%;
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin: 0px;
    margin-right: 20px;
}


.header {
    width: 100vw;
    height: 100px;
    display: flex;
}
.contain {
    display: flex;
    height : 100vh;
}
.calist {
    display: grid;
    grid-template-rows: 1fr 2fr;
    flex: 0.83;
    margin: 0px;
    width: 400px;
}
.todo {
    background-color: #1f1f22;
    text-align: center;
    width: 400px;
    height: auto;

}
.intodo {
    height: 100%;
    overflow: auto;
}
.calender {
    background-color: #1f1f22;
    width: 400px;
    text-align: center;
}
.line {
    background-color: #414147;
    height: 2px;
}

.anything {
    flex: 3;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.25fr 1.2fr 1fr 1fr ;
    margin: 0px;
}
.Email {
    grid-area: 1 /1 / 4 / 2;
    background-color: #1f1f22;
    text-align: center;
    height: auto;
}
.intemail {
    height: 98%;
    overflow: auto;
}
.notif {
    grid-area: 4 / 1 / 5 / 5;
    background-color: #1f1f22;
    height: auto;
    width:  auto;
}
.budgetrack {
    grid-column: 2 / 5;
    display: flex;
    grid-row: 3/4;
    background-color: #1f1f22;
    border: 2px aliceblue;
}
.productivity {
    display: flex;
    grid-column: 2 / 5;
    grid-row: 1 /3;
    background-color: #1f1f22;
}
ul {
    font-size: 25px;
    float: left;
    color: blanchedalmond;
}
h1 {
    font-size: 20px;
    border: #1f7210;
    border: 4px;
    padding: 2px;
}
.hinput {
    text-align: center;
    float: left;
    width: 90%;
    height: 30px;
    font-size: 12px;
    background-color: #19191b;
    color: aliceblue;
    margin: 0px;
    border: 10%;
    border: aliceblue;
}
.button {
    width: 28px;
    height: 30px;
    margin: 0px;
    border: 5px;
    margin-left: 5px;
    color: aliceblue;
    opacity: 0.9;
    font-size: 20px;
    background-color: #19191b;
    cursor: pointer;
}
.button:hover {
    opacity: 0.7;
}

select {
    height: 30px;
    min-width: 60px; 
    margin: 4px;
    margin-top: 15px;
    border: 2px;
    border-color: #1f7210;
    border-radius: 10px;
    font-size: 12px;
    background-color: #19191b;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}
#task-list li {
    float: left;
    box-sizing: border-box;
    background-color: #19191b;
    width: 350px;
    height: 30px;
    margin-left: -45px;
    font-size: 20px;
}
#task-list {
    list-style-type: none;
}
.list {
    text-align: center;
    flex: 1;
}

h1 {
    color: aliceblue;
    opacity: 0.7;
}
.etext {
    padding-top: 2%;
    padding-bottom: 2%;
}
.chart_ {
    flex:1 ;
    height: 86%;
    color: rgba(240, 248, 255, 0.651);
    border-radius: 4%;
    padding: 10px;
    background-color: #414147;
}
.explainpro {
    flex:1;
}
.prohead {
    margin: 9px;
}
ul {
    list-style-type: none
}
.impmail {
    background-color: rgba(211, 162, 71, 0.938);
    width: 290px;
    float: left;
    margin-left: -5%;
    cursor: pointer;
}
.mail {  
    background-color: #19191b;
    width: 290px;
    float: left;
    margin-left: -5%;
    cursor: pointer;
}
h2 {
    font-size: 0.7em;
    opacity: 0.5;
    color: aliceblue;

}
.calday {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: aliceblue;
    margin-left: 15%;
    gap: 20px;
    width: min-content;

}
.caldate {
    font-size: larger;
    cursor: pointer;
}
.caldate-grey {
    opacity: 0.5;
    margin-top: 20%;
}
.progress-bar {
    width: 150px;
    margin: 2%;
    flex: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 150px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #1f1f22 79%, transparent 80% 100%),
      conic-gradient(rgba(211, 162, 71, 0.938) 75%, #19191b 0);    
  }
  
  .progress-bar::before {
    content: "budget left";
    color: rgba(240, 248, 255, 0.712);
    font-size: large;
  }
  .vline {
    flex: 0.003;
    background-color: #414147;
    width: 2px;
}
.expense {
    flex: 2;
}
.rexpense {
    flex: 3;
    height: 90%;

}
.inner {
    height: 100%;
    overflow-y: auto;
    text-align: center;
}
h2 {
    font-size: medium;
}
.focus {
    width: fit-content;
    height: fit-content;
    float: inline-end;
    background-color: #19191b;
    border: none;
    cursor: pointer;
}
.focus:hover {
    opacity: 0.7;
}
.exp {
    height: 100%;
    width: 100%;
}
.explist {
    box-sizing: border-box;
    text-align: left;
    background-color: #19191b;
    margin-right: 20%;
    height: 60px;
    padding-left: 2%;
}
.charts-css line {
    margin-bottom: 10px;
}
.notifications {
    display: flex;
    height: 100%;
    width: 90%;
    overflow: auto;
}
.notiflist  {
    flex: 1;
    box-sizing: border-box;
    background-color: #19191b;
    height: 120px;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 20px;
}
.headertext {
    font-size: xx-large;
}
@media all and (max-width: 1200px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .header {
        width: 100vw;
    }
    .explist{
        margin: 0px;
    }
    .contain {
        width: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .calist {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }


    .image {
        height: 50px;
        width: 50px;
        float: right;
        margin-right: -30%;
        margin-top: 5%;
    }
    .anything {
        flex:1;
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-right: 12%;
    }
    .Email {
        flex: 1;
        width: 100vw;
    }
    .notif {
        height: 150px;
        flex: 1;
       
    }
    .budgetrack {
        height: 500px;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .productivity {
        flex: 1;
    }
    #task-list li {
        width: 80vw;
        flex: 1;
    }
    .emailist {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin-left: 7%;

    }
    .productivity {
        display: flex;
        flex-direction: column;
    }
    .chart_ {
        flex: 1;
    }
    .explain {
        flex: 1;
    }
    .hinput {
        width: 85%;
        margin-right: -1%;

    }
    .impmail {
        width: 100%;
        margin-left: -35%;
    }
    .mail {
        width: 100%;
        margin-left: -35%;    
    }
    .calender {
        flex: 1;
        width: 100vw;
    }
    .todo {
        flex: 2;
        width: 100vw;
    }
    .caldates {
        margin: 5%;
    }
    .calday {
        margin: 7%;
    }
    .progress-bar {
        grid-area: 1/1/2/2;
        margin-top: 5%;
    }
    .rexpense {
        grid-area: 1/2/2/3;
    }
    .vline {
        display: none;
    }
    .headertext {
        display: none;
    }
    .expense {
        grid-area: 2/1/3/3;
    }

}